<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top rtl" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header navbar-right">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="{% url 'index' %}">			                
              بستون
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-left">
            {% if user.is_authenticated %}
            <!--<li><a href="/static/todoer_release.apk">اپ اندروید</a></li>-->
            <li><a href="{% url 'logout' %}">خروج</a></li>
            {% else %}
            <li><a href="{% url 'register' %}">ثبت نام</a></li>
            <!--<li><a href="/static/todoer_release.apk">اپ اندروید</a></li>-->
            {% endif %}
          </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>