# project
MANIFEST
dist/
.tox/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/
web/migrations/*
db.sqlite3

# python
*.egg-info
__pycache__
*.pyc
*.pot
*.py[co]

# Editors
*.sw[po]
